// Bootstrap
$primary: hsl(66, 100%, 41%);
$secondary: hsl(0, 0%, 89%);

// Custom
$bg-color-primary: hsl(0, 0%, 100%);
$bg-color-verde: hsl(66, 100%, 41%);
$bg-color-gris: hsl(0, 0%, 93%);
$bg-color-gris-oscuro: hsl(0, 0%, 82%);
$bg-color-gris-extra-oscuro: hsl(0, 0%, 30%);
$bg-color-articulo: hsl(0, 0%, 91%);
$bg-color-articulo-pie: hsl(0, 0%, 55%);

$font-color-primary: hsl(0, 0%, 0%);
$font-color-secondary: hsl(0, 0%, 100%);
$font-color-verde: hsl(66, 100%, 41%);