.menu {
    background: rgba(0,0,0,0.4) !important;
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -633px;
    opacity: 0;
    z-index: -1;
    @include transition-menu(0.8s);

    #cerrar-menu {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.3rem;

        color: $font-color-secondary;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $font-color-verde;
        }
    }

    .menu-contenido {
        width: 100%;
        text-align: center;
        color: $font-color-secondary;

        .logo {
            width: 180px;
        }

        nav,
        #btn-contacto,
        #social,
        #contacto {
            width: 100%;
            float: left;
            display: block;
        }

        nav,
        #social,
        #contacto {
            width: 100%;
            float: left;
            display: block;

            a {
                color: $font-color-secondary;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: $font-color-verde;
                }
            }

            ul {
                li {
                    &::before {
                        content: '';
                    }
                }
            }
        }

        nav {
            width: 100%;
            float: left;
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 2.2rem;
            margin: 30px auto;
            text-align: center;
            text-transform: uppercase;
        }

        #btn-contacto {
            margin: 0 auto 30px;
        }

        #social {
            font-size: .8rem;
            margin-bottom: 1rem;

            li {
                a {
                    background-color: $bg-color-primary;
                    border-radius: 50%;
                    color: rgba(0,0,0,0.7) !important;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    &:hover,
                    &:focus {
                        background-color: $bg-color-verde !important;
                        color: $font-color-secondary !important;
                        text-decoration: none !important;
                    }
                }
        
                &::before {
                    content: '';
                }
            }
        }

        #contacto {
            // color: ;
        }
    }
}

.menu-abierto {
    right: 0;
    opacity: 1;
    z-index: 9999;
}

#backdrop {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    z-index: -2;
    @include transition(ease, 0.2s);
}

.backdrop-opacity-1 {
    opacity: 1 !important;
    display: block !important;
    z-index: 998 !important;
}
