.proyectos {
    background-color: $bg-color-gris;

    .especificaciones {
        text-transform: uppercase;

        span {
            font-weight: 700;
        }

        li {
            &::before {
                content: '';
            }
        }
    }

    .caracteristicas {
        background-color: $bg-color-primary;
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        align-items: center;
        padding: 30px;
    }

    .fotos-proyectos {
        .carousel-cell {
            width: 100%;
            height: 232px;
            margin-right: 10px;
            float: left;
         }
    }
}